@font-face {
    font-family: "Centauri";
    src: url('./Centauri.ttf');
}
@font-face {
    font-family: "Nebula";
    src: url('./Nebula.otf');
}
@font-face {
    font-family: "Polaris";
    src: url('./Polaris.otf');
}
@font-face {
    font-family: "Agency FB";
    src: url('./AgencyFB.ttf');
}
